/* 
    Document   : sivujenTyyli
    Created on : 22.3.2013, 18:29:40
    Author     : Eveliina Pakarinen
    Description:
        Harjoituskirjanpito-sovelluksen tyyli.
*/

root { 
    display: block;
}

